body{
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/hero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.title1{
     text-align: center;
     font-size: 90px;
   color: #639BBE;
   font-family: 'Poppins', sans-serif;
}
.forming{
background-color: darkgrey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
}
.badge1{
    line-height: 3;
    font-size: 20px;
        margin-left: 22%;
        margin-top: 12%;
}
.badge2{
    line-height: 3;
    font-size: 20px;
        margin-left: 24%;
}