body{
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/hero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.title1{
     text-align: center;
     font-size: 90px;
   color: #639BBE;
   font-family: 'Poppins', sans-serif;
}
.title2{
     text-align: center;
     font-size: 70px;
   color: #639BBE;
   font-family: 'Poppins', sans-serif;
}
.forming{
background-color: darkgrey;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.badge1{
    line-height: 3;
    font-size: 20px;
        margin-left: 23%;
            padding: 20px;
            color: #639BBE;
}
.badge2{
    line-height: 3;
    font-size: 20px;
            margin-top: 22%;
            margin-left: 14%;
            padding: 20px;
            color: #639BBE;
}
.list{
font-size: 50px;
color: #639BBE;
}