{{#partial "content"}}

    <h1 class="title1">Watch out evil doers!</h1>
    <h3 class="title1">{{ squad }} have assembled!</h3>


    <a href="/hero_form" class="badge badge-dark badge1" >Create new hero!</a>
    <a href="/squad_form" class="badge badge-dark badge2">View squads!</a>
    <p><a href="/hero_form">Create new hero!</a></p>
    <p><a href="/squad_form">View squads</a></p>
{{/partial}}

{{> layout.hbs}}