{{#partial "title" }}
    Be a superhero!
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}
    <h1 class="title1">Welcome Hero!</h1>
    <form class="forming" action='/hero_success'>
        <h3 class="title2">Create a hero.</h3>
        <div class="form-group">
            <label for="name">Your Name</label>
            <input id="name" name="name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="age">Your Age</label>
            <input id="age" name="age" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="power">Your Power</label>
            <input id="power" name="power" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="weakness">Your Weakness</label>
            <input id="weakness" name="weakness" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-secondary">Create Hero!</button>
    </form>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}