{{#partial "content"}}

    <h1 class="title1">Watchout evil doers!</h1>
    <h3 class="title1">{{ squad }} have assembled!</h3>

    <p><a href="/hero_form">Create new hero!</a></p>
    <p><a href="/squad_form">View squads</a></p>
{{/partial}}

{{> layout.hbs}}