{{#partial "content"}}
     <ul class="list">
        <li>Name: {{ name }}</li>
         <li>Age: {{ age }}</li>
         <li>Power: {{ power }}</li>
         <li>Weakness: {{ weakness }}</li>
    </ul>
    <a href="/squad_form" class="badge badge-dark badge1" >Create a new Squad</a>
{{/partial}}

{{> layout.hbs}}