{{#partial "title" }}
    Create a squad!
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}
    <h2 class="title1">Create a Squad.</h2>
    <form class="forming" action='/squad_success'>
        <div class="form-group">
            <label for="squad">Squad Name</label>
            <input id="squad" name="squad" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="cause">Squad Cause</label>
            <input id="cause" name="cause" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="size">Number of Members</label>
            <input id="size" name="size" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-secondary">Create Squad!</button>
    </form>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}